nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;

    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
h1{
    font-size: 36px;
}
#brand-title{
    color: var(--primary-emphasis);
    font-weight: 600;
    cursor: pointer;
}
#nav-links{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.nav-button{
    width: 160px;
    height: 48px;
    font-size: 24px;
    font-weight: 600;

    color: var(--dark-grey);
    background-color: #00000000;
    border-radius: 8px;
    border: 2px solid var(--dark-grey);
    cursor: pointer;
}

#profile-container{
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 8px;
    border-radius: 50px 40px 40px 50px;
    border: 2px solid var(--dark-grey);
    cursor: pointer;
}
#profile-info{
    padding-right: 8px;
}
#profile-name{
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-grey);
}
#profile-line{
    color: var(--dark-grey);
}
#profile-type{
    font-size: 12px;
    font-weight: 300;
    color: var(--dark-grey);
}
#profile-picture-container img{
    border-radius: 100%;
    border: 2px solid var(--dark-grey);
}
#profile-picture-container, #profile-picture-container img{
    display: inline;
    width: 56px;
    height: 56px;
    translate: 2px 0px;
}